.admin {
  text-align: center;
  align-content: center;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #37314a;
  padding: 30px;
  border-radius: 15px;
  margin: 5px auto;
  width: 400px;
  height: 500px;
}

.btn-admin button {
  width: 80px;
  height: 25px;
  border: 0;
  border-radius: 4px;
  background-color: #efbbf5;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Gabriela", serif;
  font-size: 13px;
  text-align: center;
}
